@model IEnumerable<BazaDanych.Data.CMS.Uzytkownicy.Uzytkownik>

@{
    ViewData["Title"] = "Index";
}

<h1>Utworzono uzytkownika i oto na białym koniu wchodzi szósta klasa</h1>
<div class="col-12 col-xl-6 p-2">
    <img src="http://localhost/zdjeciaProjekt/shared/kon.png" class="img-fluid" alt="">
</div>
