@model BazaDanych.Data.CMS.Pojazd

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno usunąć rekord?</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xxl-6 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle pe-2">directions_car</i>
                    Marka pojazdu:
                </label>
                <input readonly type="text" id="disabledTextInput"
                       class="form-control" placeholder="@Html.DisplayFor(model => model.SlMarka.MarkaPojazdu)">
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xxl-6 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle  pe-2">label</i>
                    Model pojazdu:
                </label>
                <input readonly asp-for="Model" class="form-control validate" />
            </div>
        </div>

        <div class="col-md-12 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle pe-2">label</i>
                    Nazwa marketingowa w serwisie
                </label>
                <input asp-for="NazwaWSerwisie" readonly class="form-control validate" />
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle pe-2">format_list_numbered</i>
                    Typ silnika:
                </label>
                <input readonly type="text" id="disabledTextInput"
                       class="form-control" placeholder="@Html.DisplayFor(model => model.SlTypSilnika.NazwaTypuSilnika)">

            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle pe-2">format_list_numbered</i>
                    Skrzynia biegów:
                </label>
                <input readonly type="text" id="disabledTextInput"
                       class="form-control" placeholder="@Html.DisplayFor(model => model.SlTypSkrzyniBiegow.NazwaTypuSkrzyniBiegow)">
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle pe-2">format_list_numbered</i>
                    Typ silnika:
                </label>
                <input readonly type="text" id="disabledTextInput"
                       class="form-control" placeholder="@Html.DisplayFor(model => model.SlTypSilnika.NazwaTypuSilnika)">
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round  align-middle  pe-2">filter_1</i>
                    Pojemność silnika:
                </label>
                <input readonly asp-for="PojemnoscSilnika" class="form-control" />

            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle  pe-2">filter_1</i>
                    Moc silnika:
                </label>
                <input asp-for="MocSilnika" readonly class="form-control" />

            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle  pe-2">filter_1</i>
                    Spalanie miejskie:
                </label>
                <input asp-for="SpalanieMiejskie" readonly class="form-control" />
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle  pe-2">exposure_plus_1</i>
                    Ilość drzwi:
                </label>
                <input readonly asp-for="IloscDrzwi" class="form-control" />
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round align-middle  pe-2">exposure_plus_1</i>
                    Ilość drzwi:
                </label>
                <input readonly asp-for="IloscPoduszek" class="form-control" />
            </div>
        </div>


        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="input-group">
                <label class="input-group-text">
                    <i class="material-icons-round palette-accent-text-color align-middle pe-2">event</i>
                    Data produkcji:
                </label>
                <input readonly asp-for="DataProdukcji" class="form-control" type="date" />

            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Klimatyzacja
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaKlimatyzacje" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        ABS
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaABS" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Elektryczne szyby
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaElektryczneSzyby" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Podgrzewane lusterka
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaPodgrzewaneLusterka" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Komputer pokładowy
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaKomputerPokladowy" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 col-xxl-4 p-2">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Centralny zamek
                        <i class="material-icons-round align-middle">block</i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input disabled class="form-check-input validate" asp-for="CzyMaCentralnyZamek" type="checkbox" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle">check_circle</i>

                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 p-2">
            <label class="form-label">
                <i class="material-icons-round palette-accent-text-color align-middle">notes</i>
                Opis pojazdu
            </label>
            <textarea disabled class="form-control validate" asp-for="OpisPojazdu"></textarea>
            <span asp-validation-for="OpisPojazdu" class="text-danger"></span>
        </div>


        <div class="col-12 p-2">

            <img src="http://localhost/zdjeciaProjekt/samochody/@Html.DisplayFor(model => model.SciezkaDoZdjecia)" style="max-width: 400px;" class="img-thumbnail p-md-2" alt="zdjecie">
        </div>

        <div class="col-sm-12">
            <div class="form-group p-2">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdPojazd" />
                    <a asp-action="Index" class="btn btn-primary">Powrót</a>
                    <input type="submit" value="Usuń" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>


