@model BazaDanych.Data.CMS.SlTypSkrzyniBiegow

@{
    ViewData["Title"] = "Create";
}

<h2>Tworzysz nową skrzynie biegów:</h2>

<hr />

<div class="row gy-3">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group">
                <label asp-for="NazwaTypuSkrzyniBiegow" class="input-group-text">
                    <i class="material-icons-round align-middle m-1 "></i>
                    Skrznia biegów:
                </label>
                <input asp-for="NazwaTypuSkrzyniBiegow" class="form-control validate">
            </div>


            <div class="form-group p-2">
                <a asp-action="Index" class="btn btn-primary">Powrót</a>
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}